apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: whoami-ingress
spec:
  ingressClassName: webapprouting.kubernetes.azure.com
  tls:
    - hosts:
      -  whoami.private.antoniocaccamo.work
      secretName: tls-secret
  rules:
  - http:
      paths:
      - backend:
          service:
            name: whoami-service
            port:
              number: 80
        path: /
        pathType: Prefix