# USER-SUPPLIED VALUES:
ports:
  # Defines the HTTP entry point named 'web'
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
      

  # Defines the HTTPS entry point named 'websecure'
  websecure:
    http:
      tls:
        enabled: true

providers:
  kubernetesGateway:
    enabled: true

# Enables the dashboard in Secure Mode
api:
  dashboard: true
  insecure: false

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`aks.private.antoniocaccamo.work`) 
    entryPoints:
      - websecure
    middlewares:
      - name: dashboard-auth
    tls:
      secretName: tls-secret

    

# Creates a BasiAuth Middleware and Secret for the Dashboard Security
extraObjects:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: dashboard-auth-secret
    type: kubernetes.io/basic-auth
    stringData:
      username: admin
      password: "P@ssw0rd"      # Replace with an Actual Password
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: dashboard-auth
    spec:
      basicAuth:
        secret: dashboard-auth-secret


# Gateway Listeners
gateway:
  enabled: true
  listeners:
    web:           # HTTP listener that matches entryPoint `web`
      port: 8000
      protocol: HTTP
      namespacePolicy:
        from: All

    websecure:         # HTTPS listener that matches entryPoint `websecure`
      port: 8443
      protocol: HTTPS  # TLS terminates inside Traefik
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:    
        - kind: Secret
          name: tls-secret  # the Secret we created before the installation
          group: ""
